@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$ffam: 'DM Sans', sans-serif;
$fsize: 18px;
$orange: hsl(33, 100%, 98%);
$cream: hsl(27, 66%, 92%);
$container-width: 20rem;